<!DOCTYPE html>
<html layout:decorator="layout/baselayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="${siteHolderDto.siteHolderName + ' - ' + site.siteName}">Site</title>
    <th:block layout:fragment="styles" />
    <link rel="stylesheet" th:href="@{/css/vote.scss}" />
    <th:block th:if="${site.theme} == 'dark'">
        <link rel="stylesheet" th:href="@{/css/bootstrap.dark.min.css}" />
    </th:block>
</head>
<body>

<div layout:fragment="content">

<div class="col-md-1">
    <div class="btn-group">
        <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="">
            <span class="glyphicon glyphicon-th" id="user-menu-icon"></span>
        </a>
        <ul id="menu" class="dropdown-menu"></ul>
    </div>
    <br />
    <div class="btn-group main" th:if="${site.allowRating}">
        <button id="upButton" type="button" onclick="upVote()" class="vote" >
            <svg class="upArrow" viewBox="0 0 11.5 6.4" xml:space="preserve">
                <path d="M11.4,5.4L6,0C5.9-0.1,5.8-0.1,5.8-0.1c-0.1,0-0.2,0-0.2,0.1
	            L0.1,5.4C0,5.6,0,5.7,0.1,5.9l0.4,0.4c0.1,0.1,0.3,0.1,0.4,0l4.8-4.8l4.8,4.8c0.1,0.1,0.3,0.1,0.4,0l0.4-0.4
	            C11.5,5.7,11.5,5.6,11.4,5.4z"/>
            </svg>
        </button>

        <h1 id="scoreCounter"></h1>

        <button id="downButton" type="button" onclick="downVote()" class="vote">
            <svg class="downArrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 11.5 6.4" xml:space="preserve">
                <path d="M0.1,0.9l5.4,5.4c0.1,0.1,0.1,0.1,0.2,0.1c0.1,0,0.2,0,0.2-0.1
	            l5.4-5.4c0.1-0.1,0.1-0.3,0-0.4L11,0c-0.1-0.1-0.3-0.1-0.4,0L5.8,4.8L0.9,0C0.8-0.1,0.6-0.1,0.5,0L0.1,0.4C0,0.6,0,0.7,0.1,0.9z"/>
            </svg>
        </button>
    </div>
</div>


    <div class="container my-container">

    </div>

    <div id="comments-block" th:if="${site.allowComments}">
        <div class="container" sec:authorize="isAuthenticated()" style="text-align: center">
            <textarea class="form-control" id="new-comment" rows="3" placeholder="Add comment..."></textarea>
            <br />
            <p id="comment-size" style="user-select: none">Symbols left: 255</p>
            <button id="add-comment" class="btn btn-default">Add</button>
        </div>
        <br />
        <section class="comments" th:unless="${site.comments} == null">
            <article class="comment" th:each="comment : ${site.comments}">
                <a class="comment-img" th:href="@{~/{username}(username = ${comment.username})}">
                    <img th:src="${comment.userAvatarUrl}" alt="" width="50" height="50" />
                </a>
                <div class="comment-body">
                    <div class="text">
                        <p th:text="${comment.comment}"></p>
                    </div>
                    <p class="attribution">by <a th:href="@{~/{username}(username =${comment.username})}" th:text="${comment.username}">
                    </a> </p> <p th:text="${#calendars.format(comment.date,'EEE, d MMM yyyy HH:mm:ss')}">at 14:23pm, 4th Dec 2010</p>
                </div>
            </article>
        </section>​
    </div>

</div>

<th:block layout:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/showdown.min.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let error = [[${error}]];
        let siteHolder = [[${siteHolderDto}]];
        let site = [[${site}]];

        if(error != null) {
            var myNode = document.getElementById("wrap-container");
            while (myNode.firstChild) {
                myNode.removeChild(myNode.firstChild);
            }
            $('#wrap-container').append('<div style="vertical-align: top;" class="alert alert-danger">' + error['message'] + '</div>')
        } else {
            createSite(site)
        }

        function createSite(site){
            createGrid(site['grid']);
            populateGrid(site);
            createMenu(site.menu);
        }

        function createMenu(menu) {
            let menuElem = $('#menu');
            if(menu === 'horizontal'){
                menuElem.addClass('right-menu');
                menuElem.append('<li><div class="btn-group"></div></li>');
                var divElem = menuElem.find('div');
                siteHolder.sites.forEach(function (site) {
                    let siteName = site.siteName;
                    divElem.append('<a href="/' + site.username + '/' + siteHolder.siteHolderName + '/' + siteName +
                            '" class="btn btn-link right-menu">' + siteName + '</a>');
                })
            } else { // menu === 'vertical'
                siteHolder.sites.forEach(function (site) {
                    let siteName = site.siteName;
                    menuElem.append('<li><a href="/' + site.username + '/' + siteHolder.siteHolderName + '/' + siteName +
                            '" class="btn btn-link">' + siteName + '</a></li>');
                })
            }
        }

        function createGrid(rows) {
            var container = $('.my-container');
            container.empty();
            rows.forEach(function (row) {
                var rowTemplate = $('<div class="row"></div>');
                row.forEach(function (col) {
                    rowTemplate.append('<div class="my-content col-md-' + col + '" style="text-align: center"></div>');
                });
                container.append(rowTemplate);
            }) ;
        }
        function populateGrid(site) {
            var myContent = $('.my-content');
            site['texts'].forEach(function (item, index) {
                myContent.eq(item['position']).append('<div>' + markdownToHtml(item['markdownText']) + '</div>');
            });
            site['videos'].forEach(function (item, index) {
                myContent.eq(item['position']).append('<iframe width="' +
                        item['width'] + '" height="' + item['height'] + '" src="' + item['url'] +
                        '" frameborder="0" allowfullscreen="allowfullscreen"></iframe>')
            });
            site['images'].forEach(function (item, index) {
                myContent.eq(item['position']).append('<div class="img-thumbnail"><img src="' +
                        item['url'] + '" /></div>')
            });
            myContent.each(function (index, item) {
                $(item).find($('iframe')).after('<br />');
            });
        }
        function markdownToHtml(text) {
            var converter = new showdown.Converter();
            return converter.makeHtml(text);
        }

//        let firstElement = $('.my-container').find('.row').eq(0).find('.my-content').eq(0);
//        let col = firstElement.attr('class').split('col-md-')[1];
//        firstElement.removeClass('col-md-' + col);
//        firstElement.addClass('col-md-' + --col);
        /*]]>*/
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $('#add-comment').on('click', function () {
            var newComment = $('#new-comment').val();
            $.post('/addComment', {
                comment: newComment,
                siteId: site.id,
                [[${_csrf.parameterName}]]:[[${_csrf.token}]]
            }, function () {
                location.reload();
            })
        });
        $('#new-comment').on('input', function () {
            var newComment = $('#new-comment');
            var leftSymbols = 255 - newComment.val().length;
            $('#comment-size').text('Symbols left: ' + leftSymbols);
            if(leftSymbols < 0){
                $('#add-comment').attr('disabled', true);
            } else {
                $('#add-comment').attr('disabled', false);
            }
        });
        /*]]>*/
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let username = [[${#authentication.getName()}]];
        if(username == 'anonymousUser') {
            $('#upButton').attr('disabled', true);
            $('#downButton').attr('disabled', true);
        }
        // let site = [[${site}]];  declared in script above
        let rating = 0;
        let userVote = {
            username: username,
            siteId: site.id,
            vote: 0
        };
        for(let i = 0; i < site.votes.length; i++){
            let vote = site.votes[i];
            rating += vote.vote;
            if(vote.username == username){
                userVote = vote;
                if(vote.vote > 0) {
                    $('#upButton').prop('display', 'hidden');
                } else if(vote.vote < 0) {
                    $('#downButton').prop('display', 'hidden');
                }
            }
        }

        var score = document.getElementById("scoreCounter");
        score.innerHTML = rating;
        checkScore();

        function upVote() {
            if(userVote.vote > 0) return;
            userVote.vote += 1;
            $.post("/addVote", {
                voteDtoJSON: JSON.stringify(userVote),
                [[${_csrf.parameterName}]]:[[${_csrf.token}]]
            }, function (id) {
                userVote.id = id;
            });
            rating++;
            score.innerHTML = rating;
            checkScore();
        }

        function downVote() {
            if(userVote.vote < 0) return;
            userVote.vote -= 1;
            $.post('/addVote', {
                voteDtoJSON: JSON.stringify(userVote),
                [[${_csrf.parameterName}]]:[[${_csrf.token}]]
            }, function (id) {
                userVote.id = id;
            });
            rating--;
            score.innerHTML = rating;
            checkScore();
        }

        function checkScore() {
            if (rating < 0) {
                score.style.color = "#FF586C";
            } else if (rating > 0) {
                score.style.color = "#6CC576";
            } else {
                score.style.color = "#666666";
            }
        }
        /*]]>*/
    </script>
</th:block>
</body>
</html>