<!DOCTYPE html>
<html layout:decorator="layout/baselayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>Admin Panel</title>
    <th:block layout:fragment="styles" />
    <style>
        .optionGroup {
            font-weight: bold;
            font-style: italic;
        }
        .optionChild {
            padding-left: 15px;
        }
    </style>
</head>
<body>

<div layout:fragment="content">

<h1>ADMIN PANEL</h1>

<div class="col-xs-4"></div>

<div class="col-xs-4">
    <div class="form-group">

        <label for="users">Users:</label>
        <select size="10" class="selectpicker form-control" id="users" name="users" multiple="multiple">
            <option class="optionGroup" th:each="user : ${users}" th:value="${user.username}" th:text="${user.username}"></option>
        </select>
        <br />
        <button class="btn btn-success btn-sm" id="add-user">Add new user</button>
        <button class="btn btn-warning btn-sm" id="redact-user">Redact user</button>
        <button class="btn btn-danger btn-sm" id="delete-user">Delete selected user(s)</button>

        <br />

        <label for="sites">Sites:</label>
        <select size="10" class="selectpicker form-control" id="sites" name="sites" multiple="multiple">
            <optgroup th:each="siteHolder : ${sites}" label="------">
                <option class="optionGroup " th:text="${siteHolder.siteHolderName}"></option>
                <option class="optionChild" disabled="disabled" th:each="site : ${siteHolder.sites}" th:text="${site.siteName}"></option>
            </optgroup>
        </select>
        <br />
        <button class="btn btn-success btn-sm" id="add-site">Add new site</button>
        <button class="btn btn-warning btn-sm" id="redact-site">Redact site</button>
        <button class="btn btn-danger btn-sm" id="delete-site">Delete selected site(s)</button>

    </div>
</div>

<div th:replace="admin/elements :: modals"></div>

</div>

<th:block layout:fragment="scripts">
    <script th:inline="javascript">
    /*<![CDATA[*/
//    $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
//        jqXHR.setRequestHeader('X-CSRF-Token', [[${_csrf.token}]]);
//    });

//    for users

    $('#add-user').on('click', function (e) {
        $('#redacting-user').val('');
        $('#create-user-modal').modal('show');
    });

    $('#redact-user').on('click', function (e) {
        let username = $('#users').find(':selected')[0];
        if( !username) return;
        username = username.value;
        $('#redacting-user').val(username);
        let userData = getUserDataFromName(username);
        populateUserForm(userData);
        $('#create-user-modal').modal('show');
    });

    function populateUserForm(userData) {
        console.log([[${users}]]);
        $('#username').val(userData.username);
        $('#firstname').val(userData.firstname);
        $('#lastname').val(userData.lastname);
        $('#email').val(userData.email);
        $('#avatarUrl').val(userData.avatarUrl);
        $('#' + userData.role.$name).prop('checked', true);
        $('#locked').attr('checked', userData.locked);
        $('#enabled').attr('checked', userData.enabled);
    }

    $('#delete-user').on('click', function (e) {
        let usersToDelete = $('#users').find(':selected');
        for(let i = 0; i < usersToDelete.length; i++){
            deleteUser(usersToDelete[i].value);
        }
        location.reload();
    });

    $('#save-user').on('click', function (e) {
        saveUser(collectUserData());
        location.reload();
    });

    function collectUserData() {
        let userData = {};
        let oldUsername = $('#redacting-user').val();
        if(oldUsername){
            userData = getUserDataFromName(oldUsername);
        }
        let userFormData = $('#create-user-data').serializeArray();
        $.map(userFormData, function (item) {
            userData[item['name']] = item['value'];
        });
        userData['enabled'] = $('#enabled').is(':checked');
        userData['locked'] = $('#locked').is(':checked');
        delete userData.password;
        return userData;
    }

    function saveUser(userData) {
        $.post('addUser', {
            userDto: JSON.stringify(userData),
            password: ($('#password').val() || null),
            [[${_csrf.parameterName}]]:[[${_csrf.token}]]
        });
    }

    function deleteUser(username) {
        $.post('deleteUser', {
            username: username,
            [[${_csrf.parameterName}]]:[[${_csrf.token}]]
        });
    }

//    for sites

    $('#add-site').on('click', function (e) {
        $('#redacting-site').val('');
        $('#create-site-modal').modal('show');
    });

    $('#redact-site').on('click', function (e) {
        let siteName = $('#sites').find(':selected')[0];
        if( !siteName) return;
        siteName = siteName.value;

        $('#redacting-site').val(getSiteDataFromName(siteName).id);

        populateSiteForm(siteName);
        $('#create-site-modal').modal('show');
    });

    $('#delete-site').on('click', function (e) {
        let sitesToDelete = $('#sites').find(':selected');
        for(let i = 0; i < sitesToDelete.length; i++){
            deleteSite(getSiteDataFromName(sitesToDelete[i].value).id);
        }
        location.reload();
    });

    $('#save-site').on('click', function (e) {
        let siteData = collectSiteData();
        if(siteData.username && siteData.siteHolderName){
            saveSite(siteData);
            location.reload();
        }
    });

    function saveSite(siteData) {
        $.post('addSite', {
            siteHolderDto: JSON.stringify(siteData),
            [[${_csrf.parameterName}]]:[[${_csrf.token}]]
        });
    }

    function collectSiteData() {
        let siteName = $('#site-name').val();
        let redactingSiteId = $('#redacting-site').val();
        let username = $('#site-creator').val();
        let siteData = {};
        if(redactingSiteId){
            siteData = getSiteDataFromId(redactingSiteId);
        }
        siteData.siteHolderName = siteName;
        siteData.username = username;
        return siteData;
    }

    function deleteSite(siteId) {
        $.post('deleteSite', {
            siteHolderId: siteId,
            [[${_csrf.parameterName}]]:[[${_csrf.token}]]
        })
    }

    function populateSiteForm(siteName) {
        let site = getSiteDataFromName(siteName);
        if( !site) return;

        $('#site-name').val(site.siteHolderName);
        $('#site-creator').val(site.username);
    }

    function getSiteDataFromName(siteName) {
        let sites = [[${sites}]];
        for(let i = 0; i < sites.length; i++){
            if(sites[i].siteHolderName == siteName) return sites[i];
        }
    }

    function getSiteDataFromId(siteId) {
        let sites = [[${sites}]];
        for(let i = 0; i < sites.length; i++) {
            if (sites[i].id == siteId) return sites[i];
        }
    }

    function getUserDataFromName(username) {
        let users = [[${users}]];
        for(let i = 0; i < users.length; i++){
            if(users[i].username == username) return users[i];
        }
    }




    $('.modal').on('hidden.bs.modal', function () {
        clearModal($(this));
    });

    function clearModal(modal) {
        $.each(modal.find('input'), function (index, item) {
            if(item.id == 'enabled') {item.checked = true; return;}
            if(item.id == 'ROLE_USER') {item.checked = true; return;}
            item.checked = false;
            item.value = '';
        });
    }
    /*]]>*/
    </script>
</th:block>
</body>
</html>