<!DOCTYPE html>
<html layout:decorator="layout/baselayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>Admin Panel</title>
    <th:block layout:fragment="styles" />
    <style>
        .optionGroup {
            font-weight: bold;
            font-style: italic;
        }
        .optionChild {
            padding-left: 15px;
        }
    </style>
</head>
<body>

<!--sec:authorize="hasRole('ROLE_ADMIN')"-->

<div layout:fragment="content">

<h1>GO HARD</h1>

<div class="col-xs-4"></div>

<div class="col-xs-4">
    <div class="form-group">

        <label for="users">Users:</label>
        <select class="selectpicker form-control" id="users" name="users" multiple="multiple">
            <option class="optionGroup" th:each="user : ${users}" th:value="${user.username}" th:text="${user.username}"></option>
        </select>
        <br />
        <button class="btn btn-success btn-sm" id="add-user">Add new user</button>
        <button class="btn btn-warning btn-sm" id="redact-user">Redact user</button>
        <button class="btn btn-danger btn-sm" id="delete-user">Delete selected user(s)</button>

        <br />

        <label for="sites">Sites:</label>
        <select class="selectpicker form-control" id="sites" name="sites" multiple="multiple">
            <optgroup th:each="siteHolder : ${siteHolders}" label="------">
                <option class="optionGroup" th:text="${siteHolder.siteHolderName}"></option>
                <option class="optionChild" th:each="site : ${siteHolder.sites}" th:text="${site.siteName}"></option>
            </optgroup>
        </select>
        <br />
        <button class="btn btn-success btn-sm" id="add-site">Add new site</button>
        <button class="btn btn-warning btn-sm" id="redact-site">Redact site</button>
        <button class="btn btn-danger btn-sm" id="delete-site">Delete selected site(s)</button>

    </div>
</div>

<div th:replace="admin/elements :: modals"></div>

</div>

<th:block layout:fragment="scripts">
    <script th:inline="javascript">
    /*<![CDATA[*/
// todo: add notification that email must be unique and check it (if not may produce 409 error)
    $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
        jqXHR.setRequestHeader('X-CSRF-Token', [[${_csrf.token}]]);
    });

    $('#add-user').on('click', function (e) {
        $('#create-user-modal').modal('show');
    });

    $('#delete-user').on('click', function (e) {
        let usersToDelete = $('#users').find(':selected');
        for(let i = 0; i < usersToDelete.length; i++){
            console.log(usersToDelete[i].value);
//            $.ajax({
//                method: 'PUT',
//                contentType: 'text/uri-list',
//                url: '/admin/users/' + usersToDelete[i].value
//            });

            $.ajax({
                method: 'DELETE',
                url: '/admin/users/' + usersToDelete[i].value
            })
        }
    });

    $('#create-user').on('click', function (e) {
        let userFormData = $('#create-user-data').serializeArray();
        let userData = {};
        $.map(userFormData, function (item) {
            userData[item['name']] = item['value'];
        });
        userData['enabled'] = $('#enabled').is(':checked');
        userData['locked'] = $('#locked').is(':checked');

        $.ajax({
            method: 'POST',
            url: '/admin/users',
            contentType: 'application/json',
            data: JSON.stringify(userData)
        })
    });

    /*]]>*/
    </script>
</th:block>
</body>
</html>