<!DOCTYPE html>
<html layout:decorator="layout/baselayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="${searchRequest}">Search</title>
    <th:block layout:fragment="styles">

    </th:block>
</head>
<body>

<div layout:fragment="content">
<h1 th:text="${searchRequest}"></h1>
    <h3 th:if="${searchResults.size()} == 0" th:text="${'No results'}"></h3>
    <ol>
        <li th:each="site : ${searchResults}">
            <b>Site: <a th:href="@{~/{username}/sites/{siteName}(username = ${site.username}, siteName = ${site.siteName})}"
                        th:text="${site.siteName}"></a></b><br />
            Creator: <a th:href="@{~/{username}(username = ${site.username})}" th:text="${site.username}"></a><br />
            Site theme: <span th:text="${site.theme}"></span>
        </li>
    </ol>
</div>

<th:block layout:fragment="scripts">
</th:block>
</body>
</html>
