<!DOCTYPE html>
<html layout:decorator="layout/baselayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="${searchRequest}">Search</title>

    <link rel="stylesheet" th:href="@{/css/tabs.scss}" />
    <th:block layout:fragment="styles" />
</head>
<body>

<div layout:fragment="content">

    <h1 th:text="${'Search request: ' + searchRequest}"></h1>

    <main>

        <input class="tab" id="tab1" type="radio" name="tabs" checked="checked" />
        <label for="tab1">Sites</label>

        <input class="tab" id="tab2" type="radio" name="tabs" />
        <label for="tab2">User profiles</label>

        <section id="content1">
            <h3 th:if="${searchSites.size()} == 0" th:text="${'No results'}"></h3>
            <ol>
                <li th:each="site : ${searchSites}" type="search">
                    <b>Page: <a th:href="@{~/{username}/{siteHolderName}/{siteName}(username = ${site.username},
                    siteHolderName = ${site.siteHolderName}, siteName = ${site.siteName})}"
                                th:text="${site.siteName}"></a></b><br />
                    Tags: <a th:each="tag : ${site.tags}" th:href="@{~/search?q={tag}(tag = ${tag})}" th:text="${tag}"></a><br />
                    Creator: <a th:href="@{~/{username}(username = ${site.username})}" th:text="${site.username}"></a><br />
                    Site: <span th:text="${site.siteHolderName}"></span>
                </li>
            </ol>
        </section>

        <section id="content2">
            <h3 th:if="${searchUsers.size()} == 0" th:text="${'No results'}"></h3>
            <ol>
                <li th:each="user : ${searchUsers}">
                    <b>User: <a th:href="@{~/{username}(username = ${user.username})}" th:text="${user.username}"></a></b>
                    <br />
                </li>
            </ol>
        </section>

    </main>

</div>

<th:block layout:fragment="scripts">
</th:block>
</body>
</html>
