<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<th:body th:fragment = "modals">
    <div id="film" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add video</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <label for="video-url">URL</label>
                        <input type="text" id="video-url" class="form-control" autofocus="autofocus" />
                    </div>
                    <div>
                        <label for="video-width">Width</label>
                        <input type="text" id="video-width" class="form-control" />
                    </div>
                    <div>
                        <label for="video-height">Height</label>
                        <input type="text" id="video-height" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="checkbox" style="float: left;">
                        <label><input type="checkbox" id="video-autoplay" /> Autoplay</label>
                        <br/>
                        <label style="float: left"><input type="checkbox" id="video-loop" /> Loop</label>
                    </div>
                    <button class="btn btn-default modal-data" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div id="font" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add text</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <label for="text">Text</label>
                        <textarea rows="15" id="text" class="form-control" autofocus="autofocus" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default modal-data" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div id="site-opts-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Page options</h4>
                </div>
                <p><b>Page theme:</b><br />
                    <label><input type="radio" name="theme" value="white" id="white" checked="checked" />White</label><br />
                    <label><input type="radio" name="theme" value="dark" id="dark" />Dark</label>
                </p>
                <p><b>Menu type:</b><br />
                    <label><input type="radio" name="menu" value="horizontal" id="horizontal" checked="checked" />Horizontal</label><br />
                    <label><input type="radio" name="menu" value="vertical" id="vertical" />Vertical</label>
                </p>
                <label><input type="checkbox" id="allowRating" name="allowRating" />Allow rating</label>
                <label><input type="checkbox" id="allowComments" name="allowComments" />Allow comments</label><br />
                <label>Site logo URL<input name="logoUrl" id="logoUrl" /></label>
                <div class="modal-footer">
                    <label style="float: left;">Page tags: <textarea id="site-tags" name="site-tags" /></label>
                    <br />
                    <label style="float: left; clear:both;">Page name: <input id="site-name" name="site-name" required="required" /></label>
                    <input type="hidden" id="site-id"/>
                    <div class="alert alert-danger save-site-error" style="display: none; float: left; clear: left; margin-left: 90px;"></div>
                    <button type="submit" class="btn btn-success" id="save-site">Save page</button>
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="siteHolder-opts-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Site options</h4>
                </div>
                <div id="siteList"></div>
                <div class="modal-footer">
                    <label style="float: left;">Site name: <input id="siteHolder-name" name="site-name" required="required" /></label>
                    <div class="alert alert-danger save-siteHolder-error" style="display: none; float: left; clear: left; margin-left: 70px;"></div>
                    <button type="submit" class="btn btn-success" id="save-siteHolder">Save site</button>
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="chart" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add chart</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <label for="text">Chart</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default modal-data" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
</th:body>

</body>
</html>