<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<th:body th:fragment = "modals">
    <div id="film" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add video</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <label for="video-url">URL</label>
                        <input type="text" id="video-url" class="form-control" autofocus="autofocus" />
                    </div>
                    <div>
                        <label for="video-width">Width</label>
                        <input type="text" id="video-width" class="form-control" />
                    </div>
                    <div>
                        <label for="video-height">Height</label>
                        <input type="text" id="video-height" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="checkbox" style="float: left;">
                        <label><input type="checkbox" id="video-autoplay" /> Autoplay</label>
                        <br/>
                        <label style="float: left"><input type="checkbox" id="video-loop" /> Loop</label>
                    </div>
                    <button onclick="saveModalData()" class="btn btn-default" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div id="font" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add text</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <label for="text">Text</label>
                        <textarea id="text" class="form-control" autofocus="autofocus" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="saveModalData()" class="btn btn-default" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div id="site-opts-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Options</h4>
                </div>
                <p><b>Site theme:</b><br />
                    <label><input type="radio" name="theme" value="white" checked="checked" />White</label><br />
                    <label><input type="radio" name="theme" value="dark" />Dark</label>
                </p>
                <p><b>Grid:</b><br />
                    <label><input type="radio" name="grid" value="1" checked="checked" /><img th:src="@{/layouts/01.png}" /></label>
                    <label><input type="radio" name="grid" value="2" /><img th:src="@{/layouts/02.png}" /></label><br />
                    <label><input type="radio" name="grid" value="3" /><img th:src="@{/layouts/03.png}" /></label>
                    <label><input type="radio" name="grid" value="4" /><img th:src="@{/layouts/04.png}" /></label>
                </p>
                <div class="modal-footer">
                    <label style="float: left;">Site name: <input id="site-name" /></label>
                    <button class="btn btn-success" data-dismiss="modal">Save site</button>
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</th:body>

</body>
</html>