<!DOCTYPE html>
<html layout:decorator="layout/baselayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="#{constructor.title}">Constructor</title>
    <th:block layout:fragment="styles">
        <!--<link rel="stylesheet" href="css/custom/constructor.css" th:href="@{/css/custom/constructor.css}"/>-->

    </th:block>
</head>
<body>
<div layout:fragment="nowrap-content">

    <div class="container my-toolbar">
        <button type="button" class="my-tool btn btn-default btn-lg" id="tool-font">
            <span class="glyphicon glyphicon-font"></span> Text
        </button>
        <button type="button" class="my-tool btn btn-default btn-lg" id="tool-camera">
            <span class="glyphicon glyphicon-camera"></span> Image
        </button>
        <button type="button" class="my-tool btn btn-default btn-lg" id="tool-film">
            <span class="glyphicon glyphicon-film"></span> Video
        </button>
        <button type="button" class="my-tool btn btn-default btn-lg" id="tool-comment">
            <span class="glyphicon glyphicon-comment"></span> Comments
        </button>
        <button type="button" class="my-tool btn btn-default btn-lg" id="tool-star">
            <span class="glyphicon glyphicon-star"></span> Rating
        </button>
    </div>

    <div class="container my-container">
        
    </div>
    <div th:replace="constructor/elements :: modals"></div>
</div>

<th:block layout:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/showdown.min.js}"></script>
    <script th:inline="javascript">

        var modal = $('.modal');
        var modalInvoker;
        var currentModal;

        $(modal).on('show.bs.modal', function (e) {
            modalInvoker = $(e.relatedTarget.parentNode);
            currentModal = $(this);
            if(modalInvoker.children('iframe').length != 0){
                var iframe = modalInvoker.children('iframe');
                var sourceLink = iframe.attr('src');
                currentModal.find('#video-url').val(sourceLink);
                currentModal.find('#video-width').val(iframe.attr('width'));
                currentModal.find('#video-height').val(iframe.attr('height'));
                currentModal.find('#video-autoplay').prop('checked', sourceLink.indexOf('autoplay=') != -1);
                currentModal.find('#video-loop').prop('checked', sourceLink.indexOf('loop=') != -1);
            }
            if(modalInvoker.children('.markdown').length != 0){
                // populate modal for text
                var element = modalInvoker.find('input');
                currentModal.find('textarea').val(element.val());
            }
        });

        $(modal).on('hidden.bs.modal', function () {
            $.each($(this).find('input'), function (index, item) {
                item.checked = false;
                item.value = '';
            });
            $.each($(this).find('textarea'), function (index, item) {
                item.value = '';
            })
        });

        function saveModalData() {
            setTimeout(function () {
                fncs[currentModal.attr('id')]();
            }, 100)
        }

        fncs = {'film': function() {
            var videoUrl = $('#video-url').val().replace('watch?v=', 'embed/');
            videoUrl += '?';
            var videoAutoplay = $('#video-autoplay').is(':checked');
            var videoLoop = $('#video-loop').is(':checked');
            var videoWidth = $('#video-width').val() || 300;
            var videoHeight = $('#video-height').val() || 200;

            if(videoAutoplay){
                videoUrl += '\u0026autoplay=1'
            }
            if(videoLoop){
                videoUrl += '\u0026loop=1'
            }

            if(modalInvoker.children('.my-tool').length != 0) {
                modalInvoker.children('.my-tool').remove();
                modalInvoker.prepend('<iframe width="' + videoWidth + '" height="' + videoHeight + '" src="' + videoUrl +
                        '" frameborder="0" allowfullscreen="allowfullscreen"></iframe>');
            } else {
                var iframe = modalInvoker.children('iframe');
                iframe.prop('width', videoWidth);
                iframe.prop('height', videoHeight);
                iframe.prop('src', videoUrl)
            }
        },

        'font': function () {
            var text = $('#text').val();

            function markdownToHtml(text) {
                var converter = new showdown.Converter();
                var element = converter.makeHtml(text);
                var wrapper = $('<div class="markdown"></div>');
                wrapper.append(element);
                wrapper.append($('<input type="hidden"/>').val(text));
                console.log(wrapper);
                return wrapper;
            }

            if(modalInvoker.children('.my-tool').length != 0) {
                modalInvoker.children('.my-tool').remove();
                modalInvoker.prepend(markdownToHtml(text));
            } else {
                modalInvoker.children('.markdown').remove();
                modalInvoker.prepend(markdownToHtml(text));
            }
        },
        'camera': function () {

        }};

        $(document).ready(function () {

            // config
            var layout =  [[12], [4, 4, 4], [6, 6]];

            var toolbar = $('.my-toolbar');

            $('.my-tool').draggable({
                revert: 'invalid',
                helper: 'clone',
                containment: 'body',
                cancel: false
            });

            function addElement(item, container) {
                var id = item.attr('id');
                container.append(createElement(id.substr(5)));
            }

            function createElement(text) {
                var wrapper = $('<div class="my-element"></div>');
                wrapper.append('<button type="button" class="my-tool btn btn-default btn-lg ' +
                        'tn-lg"><span class="glyphicon glyphicon-' + text + '"></span></button>');
                if(text == 'camera'){
                    paramsForWidget['thumbnails'] = '#uploadedImages' + widgets.length;
                    widgets.push(cloudinary.createUploadWidget(paramsForWidget, callbackOfWidget));
                    wrapper.append($('<input type="hidden" />').val(widgets.length - 1));
                    wrapper.append('<button onclick="' +
                            'widgets[$(this).siblings(\'input\').val()].open()" class="btn btn-primary btn-xs">' +
                            '<span class="glyphicon glyphicon-cog"></span></button>');
                    wrapper.prepend('<div id="uploadedImages' + (widgets.length - 1) + '"></div>');
                } else {
                    wrapper.append('<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#' +
                            text + '"><span class="glyphicon glyphicon-cog"></span></button>');
                }
                wrapper.append('<button onclick="parentNode.remove()" class="btn btn-danger btn-xs">' +
                        '<span class="glyphicon glyphicon-remove"></span></button>');

                return wrapper;
            }

            generateGrid($('.my-container'), layout);

            function generateGrid(container, rows) {
                rows.forEach(function (row) {
                    var rowTemplate = $('<div class="row"></div>');
                    row.forEach(function (col) {
                       rowTemplate.append('<div class="my-content col-md-' + col + '"></div>');
                    });
                    container.append(rowTemplate);
                }) ;

                var editField = $('.my-content');

                editField.droppable({
                    accept: '.my-tool',
                    drop: function (event, ui) {
                        addElement(ui.draggable, $(this));
                    }
                });

                var shouldDelete = false;
                editField.sortable({
                    cursor: 'move',
                    connectWith: editField,
                    containment: 'body',
                    tolerance: 'pointer',
                    over: function () {
                        shouldDelete = false;
                    },
                    out: function () {
                        shouldDelete = true;
                    },
                    beforeStop: function (event, ui) {
                        if (shouldDelete == true) {
                            ui.item.remove();
                        }
                    }
                });
            }
        });
    </script>

    <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>

    <script type="text/javascript">
        var widgets = [];
        var paramsForWidget = { cloud_name: 'gnom-7-cloud', upload_preset: 'sample_7eb3c60c0a',
            thumbnails: '#uploadedImages', theme: 'white'};
        var callbackOfWidget = function(error, result) {
            if (!result) return;
            $('img').each(function(){
                var img = $(this);
                var src = img.attr('src').replace('/c_limit,h_60,w_90', '');
                if(src == result[0].url){
                    img.closest('li').append($('<button onclick="$(this).closest(\'ul\')' +
                            '.remove()" class="btn btn-danger btn-xs">&times;</button>'));
                }
                img.prop('src', img.attr('src').replace('/c_limit,h_60,w_90', '/c_limit,h_200,w_300'));
            });
        };

    </script>

</th:block>
</body>
</html>