<!DOCTYPE html>
<html layout:decorator="layout/baselayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="#{constructor.title}">Constructor</title>
    <th:block layout:fragment="styles" />
    <link rel="stylesheet" th:href="@{/css/jquery.tag-editor.css}" />
</head>
<body>
<div layout:fragment="nowrap-content">

    <div class="container">
        <input class="grid-layout" type="image" id="1" th:src="@{/layouts/1.png}" value="[[12]]" />
        <input class="grid-layout" type="image" id="2" th:src="@{/layouts/2.png}" value="[[6,6]]" />
        <input class="grid-layout" type="image" id="3" th:src="@{/layouts/3.png}" value="[[4,8]]" />
        <input class="grid-layout" type="image" id="4" th:src="@{/layouts/4.png}" value="[[12],[6,6],[12]]" />

        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#siteHolder-opts-modal"
                style="float: right;" id="siteHolder-opts">
            <span class="glyphicon glyphicon-cog"></span> Site options
        </button>
        <br />
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#site-opts-modal"
                style="float: right;" id="site-opts">
            <span class="glyphicon glyphicon-cog"></span> Page options
        </button>
    </div>
    <div class="container my-toolbar">
        <button type="button" class="my-tool btn btn-default btn-lg" id="tool-font">
            <span class="glyphicon glyphicon-font"></span> Text
        </button>
        <button type="button" class="my-tool btn btn-default btn-lg" id="tool-camera">
            <span class="glyphicon glyphicon-camera"></span> Image
        </button>
        <button type="button" class="my-tool btn btn-default btn-lg" id="tool-film">
            <span class="glyphicon glyphicon-film"></span> Video
        </button>
    </div>

    <div class="container my-container">

    </div>
    <div th:replace="constructor/elements :: modals"></div>

</div>

<th:block layout:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/showdown.min.js}"></script>
    <script type="text/javascript" th:src="@{//widget.cloudinary.com/global/all.js}"></script>
    <script type="text/javascript" th:src="@{/js/work_with_modals.js}"></script>
    <script type="text/javascript" th:src="@{/js/cloudinary_widgets.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.tag-editor.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.caret.min.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var counterForNewSiteID = -1;

        var siteHolder = {
            sites: [],
            siteHolderName: ''
        };
        var site = {
            images: [],
            texts: [],
            videos: [],
            tags: [],
            menu: ''
        };

        $(document).ready(function () {
            var siteHolderDto = [[${siteHolderDto}]];
            if(siteHolderDto){
                siteHolder = siteHolderDto;
                renderConstructorFromSite(siteHolderDto['sites'][0]['id']);
                $('#siteHolder-name').val(siteHolder.siteHolderName);
                for(let i = 0; i < siteHolder.sites.length; i++){
                    let site = siteHolder.sites[i];
                    appendSiteToSiteList(site);
                }
            } else {
                renderConstructorPage();
            }
        });

        function appendSiteToSiteList(site) {
            $('#siteList').append($('<button class="btn btn-default" onclick="renderConstructorFromSite(\'' +
                    site.id + '\')" id="siteListButton' + site.id + '">' + site.siteName + '</button>'));
        }

        $('.save-site').on('click', function () {
            var siteName = $('#site-name').get(0);
            var errorDiv = $('.save-site-error').get(0);
            if(!siteName.checkValidity() || isSiteNameExist(siteName)){
                errorDiv.style.display = 'inline-block';
                errorDiv.innerHTML = '<p>Invalid page name</p>';
                return;
            }
            if(errorDiv) {errorDiv.remove();}
            var siteOptsModal = $("#site-opts-modal");
            siteOptsModal.modal('hide');

            populateSiteData(site);

            var isNewSite = true;
            if(site.id) {
                for(let i = 0; i < siteHolder.sites.length; i++){
                    if(siteHolder.sites[i].id == site.id){
                        siteHolder.sites[i] = $.extend(true, {}, site);
                        $('#siteListButton' + site.id).html(site.siteName);
                        isNewSite = false;
                    }
                }
            }

            if(isNewSite){
                site.id = counterForNewSiteID--;
                siteHolder.sites.push($.extend(true, {}, site));
                appendSiteToSiteList(site);
            }

            clearModal(siteOptsModal);
            renderConstructorPage();
            clearSiteData(site);
        });

        function isSiteNameExist(siteName) {
            for(let i = 0; i < siteHolder.sites.length; i++){
                if(siteName == siteHolder.sites[i].siteName){
                    return true;
                }
            }
            return false;
        }

        $('.save-siteHolder').on('click', function () {
            var siteHolderName = $('#siteHolder-name').get(0);
            var errorDiv = $('.save-siteHolder-error').get(0);
            if(!siteHolderName.checkValidity()){
                errorDiv.style.display = 'inline-block';
                errorDiv.innerHTML = '<p>Please, enter site name</p>';
                return;
            }
            if(siteHolder.sites.length == 0){
                errorDiv.style.display = 'inline-block';
                errorDiv.innerHTML = '<p>Site have not pages</p>';
                return;
            }
            for(let i = 0; i < siteHolder.sites.length; i++){
                if(siteHolder.sites[i].id < 0){
                    delete siteHolder.sites[i].id;
                }
            }
            $.post('checkSiteHolderNameExist', {
                siteHolderName: siteHolderName.value,
                [[${_csrf.parameterName}]]:[[${_csrf.token}]]
            }, function (exist) {
                if(exist){
                    var errorDiv = $('.save-siteHolder-error').get(0);
                    errorDiv.style.display = 'inline-block';
                    errorDiv.innerHTML = '<p>Site with such name already exist</p>';
                } else {
                    siteHolder.siteHolderName = siteHolderName.value;
                    sendSiteHolderData();
                }
            });
        });

        $('.grid-layout').on('click', function () {
            var rows = JSON.parse(this.value);
            site.grid = rows;
            renderConstructorPage(rows);
        });

        function populateSiteData(site) {
            var siteName = $('#site-name').get(0);
            var container = $('.my-container');
            for(var i = 0; i < container.find('.my-content').length; i++){
                var elements = $('.my-content').eq(i).children('.my-element');
                if(elements.length == 0) {continue;}
                for(var j = 0; j < elements.length; j++){
                    var currentElement = elements.eq(j);
                    if(currentElement.find('.glyphicon-camera').length != 0){
                        currentElement.find('img').each(function (index, image) {
                            site.images.push({url: image.src, position: i});
                        })
                    }
                    if(currentElement.find('.markdown').length != 0){
                        site.texts.push({markdownText: currentElement.find('input').val(), position: i});
                    }
                    if(currentElement.find('iframe').length != 0){
                        var iframe = currentElement.find('iframe');
                        site.videos.push({url: iframe.attr('src'), height: iframe.attr('height'),
                            width: iframe.attr('width'), position: i});
                    }
                }
            }
            site.siteName = siteName.value;
            site.id = $('#site-id').val();
//            site.menu = $('input[name = "menu"]:checked').val();       // wtf it sometimes doesn't work
//            site.theme = $('input[name = "theme"]:checked').val();
            if($('#white').is(':checked')) {                             // use this instead
                site.menu = 'white'
            } else {site.menu = 'dark'}
            if($('#horizontal').is(':checked')) {
                site.theme = 'horizontal'
            } else {site.theme = 'vertical'}

            $('#site-tags').tagEditor('getTags')[0].tags.forEach(function(item){
                site.tags.push(item);
            });

            site.allowRating = $('input[name = "allowRating"]').is(':checked');
            site.allowComments = $('input[name = "allowComments"]').is(':checked');
            if(!site.grid) {site.grid = [[12],[6,6],[12]]} // grid which is rendered by default
        }

        function clearSiteData(site) {
            site.images.splice(0, site.images.length);
            site.texts.splice(0, site.texts.length);
            site.videos.splice(0, site.videos.length);
            site.tags.splice(0, site.tags.length);
            site.menu = '';
        }

        function sendSiteHolderData() {
            $.post('savesite', {
                siteHolder: JSON.stringify(siteHolder),
                [[${_csrf.parameterName}]]:[[${_csrf.token}]]
            }, function (href) {
                window.location.href = href;
            });
        }

        function renderConstructorFromSite(siteId) {
            let s;
            for(let i = 0; i < siteHolder.sites.length; i++){
                if(siteHolder.sites[i].id == siteId) s = siteHolder.sites[i];
            }
            renderConstructorPage(s.grid);
            populateConstructorFromSite(s);
        }

        function populateConstructorFromSite(site) {
            reActivateTagsField(site);

            $('#site-tags').value = site.tags.join(' ');  // might be empty so .val() method will
                                                          // retrieve data from field instead rewrite it
            $('#site-name').val(site.siteName);
            $('#allowRating').prop('checked', site.allowRating);
            $('#allowComments').prop('checked', site.allowComments);
            $('#' + site.theme).prop('checked', true);
            $('#' + site.menu).prop('checked', true);
            $('#site-id').val(site.id);

            var images = site.images;
            var videos = site.videos;
            var texts = site.texts;

            var position = -1;
            var element;
            var container;
            for(let i = 0; i < images.length; i++){
                var image = images[i];
                if(position != image.position){
                    position = image.position;
                    element = createElement('camera');
                    container = $('.my-content').eq(position);
                    container.append(element);
                }
                element.find('.uploadedImages')
                        .append('<ul class="cloudinary-thumbnails"><li class="cloudinary-thumbnail active"><img src="' +
                                image.url + '"><button onclick="$(this).closest(\'ul\').remove()" ' +
                                'class="btn btn-danger btn-xs">×</button></li></ul>');
            }

            for(let i = 0; i < videos.length; i++){
                var video = videos[i];
                position = video.position;
                element = createElement('film');
                container = $('.my-content').eq(position);
                container.append(element);
                addVideo(element, video.width, video.height, video.url);
            }

            for(let i = 0; i < texts.length; i++){
                var text = texts[i];
                position = text.position;
                element = createElement('font');
                container = $('.my-content').eq(position);
                container.append(element);
                addText(element, text.markdownText)
            }
        }


        function reActivateTagsField(site) {
            let tags;
            if(site){tags = site.tags}
            var tagsTextArea = $('#site-tags');
            tagsTextArea.tagEditor('destroy');
            tagsTextArea.val('');
            tagsTextArea.tagEditor({
                initialTags: (tags || []),
                autocomplete: {
                    delay: 0,
                    position: { collision: 'flip' },
                    source: ([[${allTags}]] || []),
                    forceLowercase: false,
                    placeholder: 'Tags ...'
                }});
        }
        /*]]>*/
    </script>
</th:block>
</body>
</html>