<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <th:block layout:fragment="styles">

    </th:block>
    <title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE"></title>
</head>
<body>
    <div id="wrap">
        <div th:replace="layout/template :: navbar">

        </div>

        <div layout:fragment="nowrap-content">

        </div>

        <div class="container">
            <div layout:fragment="content">

            </div>
        </div>
    </div>

    <div th:replace="layout/template :: footer">

    </div>

    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <th:block layout:fragment="scripts">

    </th:block>
</body>
</html>