<!DOCTYPE html>
<html layout:decorator="layout/baselayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="${user.username}">Site</title>
    <th:block layout:fragment="styles">

    </th:block>
</head>
<body>
<div layout:fragment="nowrap-content">

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h1 th:text="${profileUser.username}"></h1>
            <img class="img-thumbnail" width="300" height="300" th:src="@{${profileUser.avatarUrl}}" />
            <br />
            <div id="profile-control-div" th:if="${#authentication.getName() == profileUser.username}">
                <button class="btn btn-primary" data-toggle="modal" data-target="#changeAvatar">
                    <span>Change avatar</span></button>
                <button class="btn btn-primary" data-toggle="modal" data-target="#changePassword">
                    <span>Change password</span></button>
            </div>
        </div>
    </div>


    <div th:replace="site/elements :: modals"></div>
</div>

<th:block layout:fragment="scripts">
    <script th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/
    </script>
</th:block>
</body>
</html>
