<!DOCTYPE html>
<html layout:decorator="layout/baselayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="${profileUser.username}">Site</title>
    <th:block layout:fragment="styles">
        <th:block th:replace="auth/validation :: styles" />
    </th:block>
    <link rel="stylesheet" th:href="@{/css/medal.css}" />
</head>
<body>
<div layout:fragment="content">

    <div class="row">
        <div class="col-md-5">
            <h1 th:text="${profileUser.username}"></h1>
            <h3 th:text="${profileUser.firstname + ' ' + profileUser.lastname}"></h3>
            <img class="img-thumbnail" width="300" height="300" th:src="@{${profileUser.avatarUrl}}" />
            <br />
            <div id="profile-control-div" th:if="${#authentication.getName() == profileUser.username ||
            #authorization.getRequest().isUserInRole('ROLE_ADMIN')}">
                <button class="btn btn-primary" data-toggle="modal" data-target="#changeAvatar">
                    <span>Change avatar</span></button>
                <button class="btn btn-primary" data-toggle="modal" data-target="#changePassword">
                    <span>Change password</span></button>
            </div>

            <ol class="custom-bullet medals">
                <li class="gold" th:if="${profileUser.siteHolders.size() ge 15}">creator</li>
                <li class="silver" th:if="${profileUser.siteHolders.size() ge 10
                and profileUser.siteHolders.size() lt 15}">creator</li>
                <li class="bronze" th:if="${profileUser.siteHolders.size() ge 5
                and profileUser.siteHolders.size() lt 10}">creator</li>
            </ol>

            <ol class="custom-bullet medals">
                <li class="gold" th:if="${profileUser.comments.size() ge 15}">commentator</li>
                <li class="silver" th:if="${profileUser.comments.size() ge 10 and
                profileUser.comments.size() lt 15}">commentator</li>
                <li class="bronze" th:if="${profileUser.comments.size() ge 5 and
                profileUser.comments.size() lt 10}">commentator</li>
            </ol>

            <ol class="custom-bullet medals">
                <li class="gold" th:if="${profileUser.votes.size() ge 15}">referee</li>
                <li class="silver" th:if="${profileUser.votes.size() ge 10 and
                profileUser.votes.size() lt 15}">referee</li>
                <li class="bronze" th:if="${profileUser.votes.size() ge 5 and
                profileUser.votes.size() lt 10}">referee</li>
            </ol>
        </div>

        <div class="col-md-7">
            <div th:if="${profileUser.siteHolders.size() == 0}">
                <h3 th:if="${profileUser.username == #authentication.getName()}">You haven't created any sites yet</h3>
                <h3 th:if="${profileUser.username != #authentication.getName()}">User haven't created any sites yet</h3>
            </div>
            <h3 th:if="${profileUser.siteHolders.size() > 0}">User sites</h3>
            <div class="row" th:each="siteHolder : ${profileUser.siteHolders}">
                <div class="siteHolder">
                    <img class="img-thumbnail" height="200px" width="200px"
                         th:src="${siteHolder.sites[0].logoUrl}"/>
                        <a th:if="${#authentication.getName() == profileUser.username ||
                        #authorization.getRequest().isUserInRole('ROLE_ADMIN')}"
                                 th:href="${'/redactSite?id=' + siteHolder.id}" class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    <button th:if="${#authentication.getName() == profileUser.username ||
                    #authorization.getRequest().isUserInRole('ROLE_ADMIN')}" class="btn btn-danger btn-xs"
                            th:onclick="${'deleteSite(''' + siteHolder.id + '''); parentNode.remove()'}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
        </div>

    </div>


    <div th:replace="profile/elements :: modals"></div>
</div>

<th:block layout:fragment="scripts">
    <th:block th:replace="profile/validation :: scripts" />
    <script th:inline="javascript">
    /*<![CDATA[*/
    function deleteSite(siteHolderId) {
        $.post('deleteSite', {
            siteHolderId: siteHolderId,
            [[${_csrf.parameterName}]]:[[${_csrf.token}]]
        })
    }
    /*]]>*/
    </script>
</th:block>
</body>
</html>
