<!DOCTYPE html>
<html layout:decorator="layout/baselayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="${profileUser.username}">Site</title>
    <th:block layout:fragment="styles">
        <th:block th:replace="auth/validation :: styles" />
    </th:block>
</head>
<body>
<div layout:fragment="content">

    <div class="row">
        <div class="col-md-5">
            <h1 th:text="${profileUser.username}"></h1>
            <img class="img-thumbnail" width="300" height="300" th:src="@{${profileUser.avatarUrl}}" />
            <br />
            <div id="profile-control-div" th:if="${#authentication.getName() == profileUser.username}">
                <button class="btn btn-primary" data-toggle="modal" data-target="#changeAvatar">
                    <span>Change avatar</span></button>
                <button class="btn btn-primary" data-toggle="modal" data-target="#changePassword">
                    <span>Change password</span></button>
            </div>
        </div>
        <div class="col-md-5">
            <h1 th:if="${profileUser.siteHolders.size() == 0}">User didn't create any site yet</h1>
            <h1 th:if="${profileUser.siteHolders.size() > 0}">User sites</h1>
            <div class="row" th:each="siteHolder : ${profileUser.siteHolders}">
                <div class="siteHolder">
                    <!--<img th:src="${siteHolder.logoUrl}" />-->
                    <img class="img-thumbnail" height="200px" width="200px"
                         src="http://i.dailymail.co.uk/i/pix/2016/03/22/13/32738A6E00000578-3504412-image-a-6_1458654517341.jpg"/>
                        <a th:if="${#authentication.getName() == profileUser.username}"
                                 th:href="${'/redactSite?siteHolderName=' + siteHolder.siteHolderName}" class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    <button th:if="${#authentication.getName() == profileUser.username}" class="btn btn-danger btn-xs"
                            th:onclick="${'deleteSite(''' + siteHolder.siteHolderName + '''); parentNode.remove()'}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div th:replace="profile/elements :: modals"></div>
</div>

<th:block layout:fragment="scripts">
    <th:block th:replace="auth/validation :: scripts" />
    <script th:inline="javascript">
    /*<![CDATA[*/
    function deleteSite(siteHolderName) {
        $.post('deleteSite', {
            siteHolderName: siteHolderName,
            [[${_csrf.parameterName}]]:[[${_csrf.token}]]
        })
    }
    /*]]>*/
    </script>
</th:block>
</body>
</html>
