p {
  color: #777;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}


/*---------- CARDS LAYOUT ----------*/

$card-background:     #eee;
$card-border-width:   1px;
$card-border-color:   #eee;
$card-radius:         0;


.cards {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: inline-block;
  .no-flexbox & { float: left; }

  margin-top: 0;
  padding: 0 1em 2em;

}

@media screen and (min-width: 980px) /* Desktop */ {
  .cards_item {
    width: 33%;
  }
}

@media screen  and (max-width: 979px) /* Tablet */ {
  .cards_item {
    width: 49%;
  }
}

@media screen and (max-width: 500px) /* Mobile */ {
  .cards_item {
    width: 95%;
  }
}

.card {
  background-color: #eee;
  display: flex;
  flex-direction: column;

  border: $card-border-width solid $card-border-color;
  border-radius: $card-radius;
}

.card_image {
  img {
    width: 100%;
    border-top-left-radius: ( $card-radius - $card-border-width );
    border-top-right-radius: ( $card-radius - $card-border-width );
  }
}

.card_content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  background-color: #eee;

  margin-top: 0;
  padding: 1.5em;

  p {
    flex: 1 0 auto;
  }

}