.main {
  text-align: center;
  margin-left: 20px;
}

h1 {
  font-family: sans-serif;
}

.vote {
  border: none;
  background: none;
  width: 47px;
  height: 21.5px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  &:active {
    outline: none;
    border: none;
  }

  &:focus {
    outline: 0;
  }
}

.upArrow {
  x: 0px;
  y: 0px;
  enable-background: new 0 0 11.5 6.4;
  path {
    fill: black;
    fill-rule: evenodd;
    clip-rule: evenodd;
    margin: 0;
  }
}

.downArrow {
  x: 0px;
  y: 0px;
  enable-background: new 0 0 11.5 6.4;
  path {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: black;
  }
}

#upButton :hover {
  fill: #6CC576;
  cursor: pointer;
}

#downButton :hover {
  fill: #FF586C;
  cursor: pointer;
}