<!DOCTYPE html>
<html layout:decorator="layout/baselayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="#{homepage}">Home page</title>
    <th:block layout:fragment="styles" />
    <link rel="stylesheet" th:href="@{/css/card.scss}" />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
</head>
<body>
<div layout:fragment="nowrap-content">

    <!--<div class="row">-->
        <!--<div class="col-md-4"></div>-->
        <!--<div class="col-md-4">-->
            <!--<canvas width="400" height="272" id="tag-canvas">-->
                <!--<ul>-->
                    <!--<li th:each="tag : ${tagList}">-->
                        <!--<a th:href="@{/search(q=${tag})}" th:text="${tag}">Tag</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</canvas>-->
        <!--</div>-->
    <!--</div>-->

    <ul class="cards">

        <li class="cards_item" th:each="site : ${sites}">

            <div class="card">

                <div class="card_image">
                    <a th:href="@{~/{username}/{siteHolderName}/{siteName}(username = ${site.username},
                    siteHolderName = ${site.siteHolderName}, siteName = ${site.siteName})}"><img th:src="${site.logoUrl}" /></a>
                </div>

                <div class="card_content">
                    <h2 class="card_heading">
                        <a th:text="${site.siteName}"
                           th:href="@{~/{username}/{siteHolderName}/{siteName}(username = ${site.username},
                    siteHolderName = ${site.siteHolderName}, siteName = ${site.siteName})}" class="card_button"></a>
                    </h2>
                    <p><th:block th:each="tag : ${site.tags}"><a class="label label-info"
                          th:text="${tag}" th:href="@{~/search(q=${tag})}"></a><span> </span></th:block>
                    </p>
                    <p th:id="${'site-id-' + site.id}">Rating: </p>
                    <p>Author: <a th:text="${site.username}" th:href="@{/{username}(username = ${site.username})}"></a></p>
                </div>

            </div>
        </li>

    </ul>

</div>

<th:block layout:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/jquery.tagcanvas.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $('#tag-canvas').tagcanvas({
            textColour : 'black',
            outlineThickness : 1,
            maxSpeed : 0.05,
            reverse: true,
            depth : 0.75
        });
        /*]]>*/
    </script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(setRatings());

        function setRatings() {
            let sites = [[${sites}]];

            for(let i = 0; i < sites.length; i++){
                let site = sites[i];
                let rating = 0;
                for(let j = 0; j < site.votes.length; j++){
                    let vote = site.votes[j];
                    rating += vote.vote;
                }
                $('#site-id-' + site.id).text('Rating: ' + rating);
            }
        }
        /*]]>*/
    </script>
</th:block>
</body>
</html>
